html {
    font-size: 12px;
}

body {
    margin: 0;
    user-select: none;
}

* {
    font-family: "IBM Plex Sans", sans-serif;
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

main {
    height: 100dvh;
    display: flex;
    font-size: 1.5rem;
}

#nav-section {
    width: 7rem;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #ddd;
}

#logo {
    background: url(favicon_io/favicon.ico);
    background-repeat: no-repeat;
    background-position: center;
    width: auto;
    aspect-ratio: 1/1;
}

#nav__items {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    margin: 1.2rem;
}

.nav__item {
    aspect-ratio: 1/1;
    border-radius: 999px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
}

.nav__item:hover {
    background-color: #eee;
}

.nav-selected {
    background-color: #394249;
    cursor: default;
}

.nav-selected:hover {
    background-color: #394249;
}

#menu-section {
    width: 24rem;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #ddd;
}

#menu-header {
    padding: 3rem 2.5rem;
    font-weight: 600;
}

.menu__item {
    padding: 1.2rem 1.5rem;
    margin-inline: 1rem;
    border-radius: 0.5rem;
    margin-bottom: 0.5rem;
    cursor: pointer;
}

.menu__item:hover {
    color: #3c63b7;
}

.menu-selected {
    background: #e6eeff;
    color: #3c63b7;
    cursor: default;
}

#main-section {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

#main-header {
    display: flex;
    justify-content: space-between;
    height: 7rem;
    align-items: center;
    padding: 1.2rem 1rem;
    border-bottom: 1px solid #ddd;
}

.search {
    display: flex;
    flex: 1;
    padding-inline: 1.5rem;
}

.search input {
    background-image: url(icons/search.png);
    background-repeat: no-repeat;
    background-size: contain;
    text-indent: 3rem;

    border-style: hidden;
    font-size: inherit;
    flex-grow: 1;
    font-family: inherit;
}

.top {
    height: 4rem;
}

#account {
    display: flex;
    gap: 1.2rem;
}

#main__content {
    display: flex;
    flex-direction: column;
    padding-inline: 5.8rem;
    flex: 1;
}

#content__header {
    display: flex;
    align-items: center;
    gap: 2rem;
    padding-block: 3.8rem;
}

#orders {
    font-size: 3rem;
}

#orders::before {
    content: "Заказы ";
    font-weight: 600;
}

#sort-by-date {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-left: auto;
}

#sort-by-date > div {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

.date-selected {
    background: #eaebef;
}

#content__items {
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    border: 1px solid #ddd;
    max-height: 75vh;
    overflow-y: scroll;
    max-width: 1407px;
}

#content__items::-webkit-scrollbar {
    display: none;
}


#search__sticky {
    position: sticky;
    top: 0;
}

#content__search {
    height: 5rem;
    display: flex;
    align-items: center;
    padding-left: 1rem;
    background: white;
}

#items__sort {
    display: grid;
    grid-template-columns: 1fr 6fr 6fr 3fr 2fr 2fr;
    font-weight: 600;
    background: #f5f7f9;
    height: 4rem;
    align-items: center;
    border-top: 1px solid #eee;
    gap: 2rem;
    border-bottom: 1px solid #eee;
}

.items__item {
    display: grid;
    grid-template-columns: 1fr 6fr 6fr 3fr 2fr 2fr;
    height: 8rem;
    align-items: center;
    border-bottom: 1px solid #eee;
    gap: 2rem;
}



.checkbox {
    display: grid;
    place-items: center;
}

.client {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.client :nth-child(2n) {
    color: #5a5f68;
    cursor: pointer;
}

.status::before {
    content: "";
    background: #207b4f;
    display: inline-block;
    width: 1rem;
    aspect-ratio: 1/1;
    border-radius: 99px;
    margin-right: 1rem;
}

.home {
    background-image: url(icons/home.png);
}

.service {
    background-image: url(icons/service.png);
}

.mail {
    background-image: url(icons/mail.png);
}

.monitor {
    background-image: url(icons/monitor.png);
}

.chart {
    background-image: url(icons/chart.png);
}

.lightning {
    background-image: url(icons/lightning.png);
}

.settings {
    background-image: url(icons/settings.png);
}

.notifications {
    background-image: url(icons/notifications.png);
}

.dropdown {
    background-image: url(icons/dropdown.png);
}

.download {
    background-image: url(icons/download.png);
}

.user {
    background-image: url(https://avatars.mds.yandex.net/get-altay/1909414/2a00000185f2caa6b7cea9ea30dab1a78d49/S);
    background-size: 100%;
    background-color: #e6eeff;
}
